<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>


    <div id="wrapper">
        {% if messages %}
            <ul class="messages">
                <!-- {{ messages }} -->
                <div class="alert" role="alert">
                    {% for message in messages %}
                    <!-- {# if message.message == "Invalid last name." #}  shows each individual message so we can display next to each field. -->
                    <!-- <span>{{ message.message }}</span>  -->
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </div>
                {% endif %}
            </ul>

        <!-- Default form register -->
        <form class="text-center border col-5 border-0 shadow-sm rounded-lg border" id="display_1" action="/login/register"
            method="post">
            {% csrf_token %}
            <p class="h4 mb-4 font">Sign up</p>

            <div class="form-row mb-4 ">
                <div class="col">
                    <!-- First name -->
                    <span>{{message}}</span>
                    <input type="text" name="first_name" class="form-control " placeholder="First name">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" name="last_name" class="form-control" placeholder="Last name">
                </div>
            </div>

            <!-- E-mail -->
            <div id="email_ajax_error" class="mb-2 text-secondary"></div>
            <!-- Displaying Ajax to show if the email exist as the user types -->
            <input type="email" id="email-ajax" name="email" class="form-control mb-4" placeholder="E-mail">

            <!-- Birthday -->
            <small id="" class="form-text text-muted ">Birth Date</small>

            <input type="date" name=birthday class="form-control mb-4" value="date|date:'Y-m-d'">
            <!-- value='{{one_show.release_date|date:"Y-m-d"}} -->

            <!-- Password -->
            <input type="password" name="password" class="form-control mb-4" placeholder="Password"
                aria-describedby="defaultRegisterFormPasswordHelpBlock">


            <!-- Confirm Password -->
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password"
                aria-describedby="defaultRegisterFormPhoneHelpBlock">


            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

        </form>

        <!-- Default form login -->
        <form class="text-center border w-25 p-3 shadow-sm border-0" id="display_2" action="/login/login" method="post">
            {% csrf_token %}
            <p class="h4 mb-4 font">Sign in</p>

            <!-- Email -->
            <input type="email" name="email" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" name="password" class="form-control mb-4" placeholder="Password">


            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>


        </form>
        <!-- Default form login -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'log_reg.js' %}"></script>
</body>

</html>